.attribution {
  color: hsl(0, 0%, 100%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  background-color: hsl(233, 47%, 7%);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.container{
    background-color: hsl(244, 38%, 16%);
    color: hsl(0, 0%, 100%);
    height: 27.875rem;
    width: 70rem;
    margin: 10% auto;

   
}

.description{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
    
}

.title{
    font-size: 37px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;  
    width: 450px;
 
}

.title span{
    color: hsl(277, 64%, 61%);
}

img{
    filter: opacity(0.4) drop-shadow(0 0 0 hsl(277, 64%, 61%)) saturate(250%)  ; 
    float: right;
    padding: 0;
    
}

.info{
    padding: 70px 40px 10px 70px;
    width: 22rem;
   
}


.stats{
    display: flex;
    justify-content: space-between;
    
}

.stats-box p{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}



